/* body */
#homeheading {
  font-size: larger;
  font-weight: bolder;
  color: #3b6c70;
}

/* body content text */
#bodyheadcontent {
  font-size: small;
}

/* get in touch */

.container-3 {
  background-color: #cde3e5;
  height: 450px;
  width: 100%;
}

.form-label {
  color: #3b6c70;
  font-size: small;
  font-weight: bold;
}

.form-control {
  column-rule-style: groove;
  border-color: #3b6c70;
  box-shadow: #3b6c70;
}

.form-control::placeholder {
  color: grey;
  opacity: 30%;
  font-size: smaller;
}

.btn {
  /* background-color: #3B6C70; */
  background-color: #3b6c70;
  color: white;
}

.btn:hover {
  background-color: rgb(223, 243, 234);
  color: whitesmoke;
}

/* company logos */
.container-4 {
  background-color: white;
  /* border: 2px solid red; */
  width: 100%;
}

.ourclients {
  color: #3b6c70;
  /* border: 2px red solid; */
}

.getintouch {
  color: #3b6c70;
}

/* card */

.question {
  color: #ff4d1d;
}
.connectictak {
  color: #0081a0;
}

.carddiscription {
  color: white;
}

/* container 6 */
.container-fluid-6 {
  background-color: #aec3c5;
  height: 900px;
  width: 100%;
  background-image: url("/public/assets/getintouchbg.jpg");
  background-size: cover;
}

.container-11 {
  background-color: #aec3c5;
  height: 500px;
  background-image: url("/public/assets/HomeBGImage1.jpg");
  background-size: cover;
}

.pathtitle {
  color: white;
  font-weight:normal;
  border: 1px solid transparent;
}
center {
  margin-top: 70px;
}
